<h1>Player 1 enter your choice!</h1>
<h2>Enter Rock, Paper or Scissors</h2>

<form action='/player2' method='get'>
  <div class="form-group">
    <label for="player1">Symbol:</label>
    <input id="player1" name="player1" class="form-control" type="text">
  </div>
  <input type="submit" class="btn" value="Player 2's turn" href="/player2">
</form>
